.mainContainer {
  margin: 0 auto;
  text-align: center;
  background-color: lightpink;
  color:white;  
}
.cityLions{

  width:200px;
  height:200px;
  background-color: white;
  font-size: 70px;
  border: solid lightpink 1px;
  vertical-align: middle;
  line-height: 70px;
  color: black;
  overflow: hidden;
} 




